body{
  background-image: url('../img/bg.png');
  backgorund-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  background-color: #c80150;
  
}

*{
  font-family: 'Poor Story', cursive;
}
