body{
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/bg.png');
  backgorund-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #c80150;
  
}

*{
  font-family: 'Poor Story', cursive;
}
