body{
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  backgorund-size: 50% 50%;
  background-color: #c80150;
  
}

*{
  font-family: 'Poor Story', cursive;
}
