#main{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

p{
  font-size: 22px;
}

.adv{
  width: 320px;
}

.start{
  color: white;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
}
