#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#shareResult{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}
.resultname{
  font-size: 26px;
}

.resultDesc{
  font-size: 20px;
}

.kakao{
  color: white;
  background: url("../img/kakao.png");
  height: 60px;
  width: 60px;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
}

.twitter{
  color: white;
  background: url("../img/twitter.png");
  height: 60px;
  width: 60px;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
}

.facebook{
  color: white;
  background: url("../img/facebook.png");
  height: 60px;
  width: 60px;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
}

.gohome{
  color: white;
  background-color: pink;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.gohome:hover, .gohome:focus {
  background-color: whitesmoke;
  color: pink;
}
